.card {
  border: 1px solid #AAA;
  border-radius: 5px;
  cursor: pointer;
  margin: 1vmin 0;
  padding: 3vmin;
}

.title {
  margin-block: 0;
}

.description {
  color: #AAA;
}

.expressions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.expression {
  border: 1px solid;
  border-radius: 5px;
  font-size: 0.5em;
  margin: 5px;
  padding: 5px;
}

.reply {
  border: 1px solid blue;
  border-radius: 5px;
  font-size: 0.5em;
  margin: 5px;
  padding: 5px;
}
