.card {
  border: 2px solid #4dabf7;
  border-radius: 5px;
  cursor: pointer;
  margin: 1vmin 0;
  padding: 3vmin;
}

.selectedCard {
  background-color: #c4edff;
}

.title {
  margin-block: 0;
}

.description {
  color: #AAA;
  padding-bottom: 3vmin;
}

.expressions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.bubble {
  border-radius: 5px;
  font-size: 0.7em;
  font-weight: 500;
  margin: 5px;
  padding: 7px;
}

.expression {
  background-color: #4dabf7;
  color: #FFF;
}

.expression:first-of-type {
  margin-left: 0;
}

.replies {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.reply {
  background-color: #e3e3e3;
}
